@import "../sass/_variables";
@import "../sass/_reset";
@import "../sass/_placeholders";
@import "../sass/_mixins";
@import "../sass/_burger";

body {
	margin: 0;
	min-height: 100vh;
	position:relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between; // pour le cas où le contenu moins haut que l'affichage
	line-height: 1;
	background-color: $color-1;
  	color: $font-dark;
	font-family: $fontBasic;
	font-size: map-get($policeSize, basic);
}


header, footer {
	min-height: 20px;
	text-align: center;
	display: block;
	width: 100%;
	position: relative;
}

.background{
	background-image: 
		linear-gradient(
        rgba(255,255,255,0.7), 
    	rgba(255,255,255,0.9), 
     	),
		url("../../medias/img/bg_header1.jpeg");
	background-size: cover;
  	background-position: center bottom;	
	border-bottom: solid 1px $color-3;
}

.wrapper {
	width: 100%;
	max-width: 1024px;
	padding: 0rem $pad 0 $pad;
	position: relative;
	margin: auto;	
} 	


main {	
	position: relative;
	line-height: 1.8;
	@extend %flex-center;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: nowrap;
}
h1{
	font-size: map-get($policeSize, grosTitre);
	font-family: $fontTitles;
	font-weight: 300;
	text-align: center;
	text-transform: lowercase;
	&::first-letter{
		text-transform: uppercase;
	}

}

h2{
	font-size: map-get($policeSize, moyenTitre);
	&::first-letter{
		text-transform: uppercase;
	}

}

a{
	text-decoration: none;
}
small{
	font-size: 1.3rem;
}
.pos{
	position: relative;
}

.clear{
	clear:both;
}
	
.vignette{
	display: block;
	height: 100px;
	object-fit: contain;
	margin: auto;
	//cursor: pointer;
}
// pour les toggle de classe 
.displayBlock{
	display: block !important;
}

.displayNone{
	display: none;
}

.noWrap{
	white-space: nowrap;
}

.spanPrix{
	white-space: nowrap;
	display: inline-block;
	width: 125px;
}


.message{
	@extend %text-box; 
	img{
		display: block;
		width: 30px;
		margin: auto;
	}
}


/**
** Mise en forme lien comme un bouton (admin )
**/
.bouton {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 5px 5px;
	margin: 5px auto;
	background-color: $color-4; 
	color: $font-dark;
	font-family: $fontBasic;
	font-size: map-get($policeSize, basic);
	line-height: 1;
	border-radius: 12px;
	border: 1px solid #46a28d;

	&:hover{
		cursor: pointer;
		background-color: #fff;
		border: 2px solid #010b08;
		padding: 4px;
	}
	
}
.alert{
		&:hover{
		border-color: $color-alert;	
		}
	}

.formDelete{
	margin: auto;
}
/*******************************************************
**  Logo et titre dans le header
**/

.headerHaut{
	position: relative;
	padding: 15px 10px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.imgLogo{
	vertical-align: middle;
	width: 60px;
	margin-bottom: 10px;
	@media screen and (min-width: map-get($breakPoints, mobile)){
		width: 70px;
	}
}
.alv{
	display: none;
	width: 70px;
	margin: 0 10px -5px 10px;
	@media screen and (min-width: map-get($breakPoints, small)){
		display: block;
	}
	@media screen and (min-width: map-get($breakPoints, mobile)){
		width: 90px;
		margin: 0 50px -5px 50px;
	}
}

.logoEtTitre{
	.txtEtLogo{
	@extend %flex-center;
	color: $font-dark;
	font-family: $fontLogo;
	font-size: map-get($policeSize, logo);
	flex-direction: column;
	text-decoration: none;
	}
}
	
.icon{
    cursor: pointer;
	position : absolute;
	z-index: 5;
	top: -90px;
	right: 18px;
	@media screen and (min-width: map-get($breakPoints, mobile)){	
			display: none;
		}
}
 .welcome{
	position: absolute;
	top: 0px; right: 50px;
}

/**********************************************************
*  Navbar
**/

.navbar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
	margin-bottom: 10px;
	.nav-menu{
		position: absolute;
		z-index: 65;
		top: 0px;
		left: 0;
		right: 0;
		@media screen and (min-width: map-get($breakPoints, mobile)){
			display: initial;
			position: static;
			width: 100%;
			display: flex;
			justify-content: space-evenly;
		}
		.nav-item{
			@media screen and (min-width: map-get($breakPoints, mobile)){
				display: inline-block;   
				position: relative;
				//border: unset;
				//border-bottom: black 10px solid;
			}
		}			
	}

	li { 
    	position: relative;
		flex-shrink: 0;
		height: 30px;
		line-height: 30px;
		letter-spacing: 1px;
		&:hover{
			ul.dropdownOnHover{
				display: flex;
				position: relative;	
				flex-direction: column;				
			}
		}
		.drop-item a{
			border: 1px solid $color-2;
			position:relative;

		}	
	}

	a {
		//margin: 1px 1px;
		text-decoration: none;
		background-color: $color-5;
		font-size: 1.8rem;
		color: $font-dark;
		border-bottom: 1px solid #46a28d;
		/* This flexbox code stretches the link's clickable 
		* area to fit its parent block. */
		display:        flex;
		flex-grow:      1;
		flex-shrink:    1;
		justify-content: center;
		
		@media screen and (min-width: map-get($breakPoints, mobile)){ 
			background-color: $color-1;  
			font-size: 1.4rem;
			padding: 0 10px;  
		}
		&:hover {
			background-color: $color-4;
			max-width: 100%;
			color: black;
			@include vibes; 
			z-index: 100;
			@media screen and (min-width: map-get($breakPoints, mobile)){ 
				position: relative;   
				top: 0%; left: 0%;
				border-top: none;			
			}
		}
	}



 	ul.dropdownOnHover{
		display : none;
		z-index: 15;
		width:50%;
		min-width: max-content;
		position:absolute;
		top: 0px; left: 50%;
		transform: translateX(-50%);
		.drop-item a:first-of-type {
			margin: -2px 0 0 0 ;
		}
	
		@media screen and (min-width: map-get($breakPoints, mobile)){   
			position: relative;   
			top: 0%; left: 0%;
			transform: translateX(-10%);
			width:120%;
			min-width: max-content;
		}
		a{
			margin-top: 0;
			padding: 0 5px;
		}
	}

}

/**
* Pour assombrir page quand souris sur menu
*/
.shadow {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.5);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	transition: all 1s;
}

/**********************************************************
* Footer
*/
footer{
	margin-top: $pad;
}
.foot{
	padding: 1rem;
	@extend %flex-center;

	p{
		padding: 1rem;
	}
	.small{
		font-size: 1.4rem;
		a{
			color: $color-link;
			text-decoration: underline;
		}
	}
}
.alvFoot{
	display: none;
	width: 70px;
	margin: auti 20px;
	@media screen and (min-width: map-get($breakPoints, tablet)){
		display: block;
	}

}



/**********************************************************
** Mise en forme Generique pour les Formulaires ( admin )
*/

.formAdmin{
	margin-top :10px;
	max-width: 600px;
	
	

	.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap : 10px;

	}

	fieldset:not(.noSpaceAround) {
		margin-bottom: 15px;
		padding: 10px;
	}

	label, legend {
		width: 180px;
		display: inline-block;
		margin: 6px auto;
		text-align: right;
		
	}	

	.star {  // pour les astérisque obligatoires
		font-weight: bold;
		font-style: normal;
		color: #f00;
	}
	input:not(.bouton), textarea, select{
		border-radius: 5px;
		border-width: 1px;
		padding: 10px;
		border-color: $font-dark;
	}
	*:focus {
		background: #eaeaea;
	}
	
	input:not(.bouton), textarea {
		width: 249px;
	}

	// input.bouton:hover{
	// 	padding-left: 2px;
	// 	padding-right: 2px;
	// }
	
	textarea {
		height: 150px;
	}
	
	select {
		width: 254px;
	}
	
	input[type=radio] {
		display: inline;
		width: 10px;
		margin-bottom: 0;
	}
	
	input[type=submit] {
		display: block;
		width: 150px;
		margin: auto;
	}

	.radio{
		width: 50px;
	}

	.preview{
		display: none;
		background-color: rgb(241, 247, 249);
		margin-bottom: 5px;
		img{
		display: block;
		margin: auto;
		height: 200px;
		width: auto;
		}
	}
}

/*****************************************************
** Mise en forme Generique pour les tableaux -admin
*/

.catalog {
	img {
		display: block;
		min-width: 150px;
		object-fit: contain;
		margin: auto;
		}

	table {
		table-layout: auto;
		max-width: 100%;
	}
	tr,
	td {
		border: solid;
	}

	.dim{
		max-height: 150px;
	}

	td {
		max-width: 400px;
		border: 1px solid blue;
		overflow: auto;
		white-space: normal;
		// text-overflow: ellipsis;
		vertical-align: middle;
		padding: 5px;
	}
	input[type=submit] {
		display: block;
		width: 80px;
		padding: 10px ;
		border-radius: 20px;
		margin: auto;
	}

}

/**********************************************************************
** affichage en grand d'un miniature au click sur la vignette
*/
.modal-window {
	display: block;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.25);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 80;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 0.6s;
	cursor: pointer; 
	& > img {
		border-radius: 40px;
		display: block;
		height: 80%;
		object-fit: contain;
		@extend %center-el;
		padding: 2em;
		background: $color-2;
	}
}

.modal-trigger{
	cursor: pointer;
}

.fa-facebook{
	color:#3B5998;
	font-size: 2.5rem;
}

// affichage de la loupe sur les images clickaables
.zoom{
	&:hover {
		&:after{
			@include zoomy; 
		}
	}
	@media (hover:none) {
		&:after{
			@include zoomy; 
		}
	}
}

/**
*petit oeil a coté des champs passwords
*/
.seePass{
	cursor: pointer;
	display: inline-block;
	width: 20px;
	.fa-eye{
		display: none;
	}
	&:hover{
		.fa-eye{
			display: initial;
		}
		.fa-eye-slash{
			display: none;
		}
	}
}  


.visible{
	visibility: visible;
    opacity: 1;
    pointer-events: auto;
}


/*****************************************************
**      homePage
*/
.homePage{
	position: relative;
	width: 100%;
	@extend %flex-center;
	flex-direction: column;
	justify-content: flex-start;

	h1{
		&:before, &:after{
			content:(" - ") ;
		}
	}
	h2{
		text-align: center;
	}
	.blockLast{
		@extend %text-box;
	}
	small{
		font-size: 1.3rem;
	}
	// p:not(.last){	
	// 	@extend %text-box;
	// }
	.news{		
		margin: 10px 0px 20px 0px;
		@extend %text-box;
	} 
	.imgNews{	
		display: block;
		object-fit: contain;
		margin: auto;
	}
}


/********************************************
*          Slider
*/
.sliderSlick {
  	width: 100%;
  	padding-top: $pad;
	.slick-slide{
		margin: 0px 3px;
		img{
			width: 350px;
			height: 262px;
			@media screen and (min-width: map-get($breakPoints, small)){      
				width: 500px;
				height: 375px;
			}
			@media screen and (min-width: map-get($breakPoints, mobile)){      
				width: 600px;
				height: 450px;
			}
		}
	}
	.slick-prev {
		left: 10px;
		z-index: 1;	
	}
	.slick-next {
		right: 10px;
	}
	.slick-dots li button:before {
		font-size: 20px;
	}
}


/***********************************************************
** page des produits coté public
*/
.pageProductPublic{
	width: 100%;
	.find{
		background-color: $color-1;
		display: block;
		width: 380px ;
		margin: auto;
		text-align: center;
		border-radius: 10px;
		padding: 5px;
	}
	.contArticles{
		// inversion droite/gauche des images selon les items
		@media screen and (min-width: map-get($breakPoints, mobile)){      
			:nth-child(odd) {				
				:nth-child(2) {
				 order: 3;
				}			 
			}
		}
	}
	article{
		margin-top: $pad;
		@extend %flex-center;
		flex-direction: row;
		justify-content: space-evenly;
		@extend %text-box;
	}
	h2 {
		text-align: center;
		width: 90%;
		overflow: hidden; // pour cacher ce qui va dépasser des 100% width
		&::before, &::after {
			content: "";
			display: inline-block;
			width: 100%; // si pas de texte
			margin: 0 1rem 0 -100%; // si texte occupe 100% la ligne est repoussee ecite passage à la ligne
			vertical-align: middle;
			border-bottom: 1px solid;			
		}
		&::after {
			margin: 0 -100% 0 1rem;
		}
	}
	.contImg{
		position:relative;
		width: 100%;

		@media screen and (min-width: map-get($breakPoints, mobile)){      
			width: 35%;
		}
		img {
		display: block;
		height: 250px;
		object-fit: contain;
		margin: auto;
		border-radius: $pad;
		}
		

	}
	.textProd{
		width: max-content;
		margin-top: $pad;
		@media screen and (min-width: map-get($breakPoints, mobile)){     
			margin-top: 0px ; 
			width: 35%;
		}	
		.items{
			@extend %flex-center;
		}

		.teaser{
			font-weight: 700;
		}

		.infos{
			font-style: italic;
		}

		.price{
			text-align: center;
		}
		.insec{
			white-space: nowrap;
			text-align: center;
		}
	}

}
/**************************************************
* page curieux ? (zoom)
*/
.pageZoom{
	
	section {
		@extend %text-box;
		margin-top: $pad;
	}
	h2{
		text-align: center;
	}
	img{
		width: 250px;
		height: auto;
		float:left;
		margin-right: $pad;
	}
	.center{
		text-align: center;
	}
	a.bouton{
		display: inline-block;
	}
}




/**************************************************
* page points de  ventes
*/

.pageSalesPoints{

	// Pour rendre responsive carte googlemap :
	.mapWrapper{
		padding:75% 0 0 0;
		position:relative;
		@media screen and (min-width: map-get($breakPoints, mobile)){      
			width: 700px;
			height: 525px;
			margin: auto;
			padding: 0;
		}	
	}
	iframe{
		position:absolute;
		top:0;left:0;
		width:100%;height:100%;
		@media screen and (min-width: map-get($breakPoints, mobile)){      
			width: 	700px;
			height: 525px;
		}
	}
	// texte 
	.textSalesPoints{
		@extend %text-box;
		margin-top: $pad;			
	}
	
}
/**************************************** 
*  page "Me découvrir" - (aPropos.phtml)
*/

.pageAbout{

	h2{
		text-align: center;
	}

	.content{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}	

	.adressTop{
		width: 100%;
		@extend %flex-center;
		align-items: center;
		justify-content: space-around;
		@media screen and (min-width: map-get($breakPoints, mobile)){   
			width: 45%;   
		}	
	}
	
	.txt{
		width: 80%;
		address a{
			color: $color-link;
			text-decoration: underline;
		}
		
		@media screen and (min-width: 576px){
			width: 35%;
			order: -1;
		}
		@media screen and (min-width: map-get($breakPoints, mobile)){ 
			width: 80%;
		}
		.networks{
			text-align: center;
		}	
	}
	.coords {
		line-height: 2rem;
		@extend %text-box;
	}
	img {
		width: 80%;
		border-radius: 2rem;
		margin: $pad 0;
		@media screen and (min-width: 576px){
			width: 45%;
			margin: 0;
			//align-self: flex-end;
		}
		@media screen and (min-width: map-get($breakPoints, mobile)){ 
			width: 80%;
			align-self: center;
		}	
	}	

	.zoomBas{
		width: 100%;
		// Pour rendre responsive la video :
		.videoWrapper{
			position:relative;
			width: 90%;
			padding-bottom :160%;
			border-radius: 2rem;
			height: 0;
			margin: 10px auto;
				@media screen and (min-width: map-get($breakPoints, small)){      
					width: 360px;
					height: 640px;
					margin: auto;
					padding: 0;
				}
			video {
				position:absolute;
				top:0;left:0;
				width:100%;
				overflow: hidden;
			}
		}
		@media screen and (min-width: map-get($breakPoints, mobile)){      
			width: 48%;
		}	
	}

	.barCode{
		display: none;
		margin-top: $pad;
		@extend %text-box;
		
		img{
			border-radius: initial;
			display: block;
			margin: auto;
			@media screen and (min-width: map-get($breakPoints, small)){ 
			max-width: 125px;
		}
		}
		@media screen and (min-width: map-get($breakPoints, small)){ 
			display: initial;
		}
	} 
}


/*******************************
* Mentions légales
*/
.mentions {
	max-width: 800px;
	line-height: 1.4;
	h2{
		margin-top: $pad;
	}
	a {
		text-decoration:underline;
	}
	p{
		padding-left: $pad;
	}
}

.p404 {
	width: 100%;
	max-width: 600px;
	display: block;
}











 
